div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }


  .modal-content-2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    pointer-events: auto;
    background-color: #343a40;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  
table, th, td {
    padding: 10px;
    width: 50%;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    width: 12%;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  
  th {
    background-color: grey;
    color: white;
  }
  